.table {
  width: 100%;

  th, td {
    padding: 10px;
    border-bottom: solid 1px #dddddd;
  }
}


.component-loading {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-right {
  text-align: right;
  justify-content: right;
}

.vertical-center {
  display: flex;
  align-items: center;
}